---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Search from '../components/Search.astro';
import Alertmodal from '../components/Alertmodal.astro';

---

<Layout title="TESLA ALPHA">
<!--<Navigation />-->
<!--<Search />-->
<Alertmodal/>

<header>
	
		<div class="section-header">
		
		<!--LOGO -->
			<div>
				<svg
				  class="h-6 w-28 transition-colors duration-500"
				   viewBox="0 0 342 35"
				   xmlns="http://www.w3.org/2000/svg"
				  ><path
					d="M0 .1a9.7 9.7 0 0 0 7 7h11l.5.1v27.6h6.8V7.3L26 7h11a9.8 9.8 0 0 0 7-7H0zm238.6 0h-6.8v34.8H263a9.7 9.7 0 0 0 6-6.8h-30.3V0zm-52.3 6.8c3.6-1 6.6-3.8 7.4-6.9l-38.1.1v20.6h31.1v7.2h-24.4a13.6 13.6 0 0 0-8.7 7h39.9v-21h-31.2v-7h24zm116.2 28h6.7v-14h24.6v14h6.7v-21h-38zM85.3 7h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 13.8h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 14.1h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zM308.5 7h26a9.6 9.6 0 0 0 7-7h-40a9.6 9.6 0 0 0 7 7z"
				fill="currentColor"></path>
				</svg>
			</div>
		<!--CIERRA LOGO -->
		
		<Navigation/>
		
		
		<!--BOTONERA-->
			<div class = "divbotonera">
				<button class="botonera" id="btnmodal">
					Ingresar
				</button>
			</div>
		
		<!--CIERRA BOTONERA -->

		<!-- ESTE ES EL VIDEO 
		<div class="video">
			<video autoplay muted loop src="/video-tesla.webm">	</video>
			</div>-->
		
		</header>
	



<main>


<section class="section1">

	<div class="gridcards" id="section2">

		<ul role="list" class="link-card-grid">

			<div class="card-1">
				<img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2017/09/261183-ya-no-puedes-comprar-tesla-model-s.jpg?tf=3840x" 
					 alt=""
					 width="385"
					 height="200"
					 >
				<Card
				href="https://www.tesla.com/models"
				title="MODEL S"
				body="Model S is built for speed and range, with beyond ludicrous acceleration, unparalleled performance and a refined design."
				/>
			</div>

			<div class="card-2">
				<img src="https://cdn.motor1.com/images/mgl/y2mbjm/s3/tesla-model-3.jpg" 
					 alt=""
					 width="385"
					 height="200"
					 >
			<Card
				href="https://www.tesla.com/model3"
				title="MODEL 3"
				body="Model 3 is designed for electric-powered performance, with quick acceleration, long range and fast charging."
			/>
			</div>

			<div class="card-3">
				<img src="https://car-images.bauersecure.com/wp-images/12905/01-teslamodelx.jpg" 
					 alt=""
					 width="385"
					 height="200"
					 >
			<Card
				href="https://www.tesla.com/modelx"
				title="MODEL X"
				body="Model X is built for utility and performance,best in class storage and the highest towing capacity of any electric SUV."
			/>
			</div>

			<div class="card-4">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDRths3hkQCUpKyzv0db5HHvyMRyv1YR0o8F5h4z8gUfWeuTFTa033ZT5BfQbmU_p7dvA&usqp=CAU" 
					 alt=""
					 width="385"
					 height="200"
					 >
			<Card
				href="https://www.tesla.com/modely"
				title="MODEL Y"
				body="Model Y is an all-electric midsize SUV with unparalleled protection and versatile cargo space"
			/>
			</div>
		</ul>
	</div>

	</section>
	

</main>

<footer>
	<div class="derechos" id="terminos">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ducimus autem nostrum architecto praesentium dolores deleniti iure, voluptate libero, tempore placeat harum officia nesciunt alias nemo? Necessitatibus tenetur eveniet excepturi!
		</p>
	</div>
	
</footer>
	
<script>

// Invocar el modal 
var modal = document.getElementById("modal");

// Invocar el boton que abre el modal
var boton = document.getElementById("btnmodal");

console.log (boton);

//Invocar el span que cierra el modal mediante una clase
//get element ... necesita un array inicializado en "0"
var btclose = document.getElementsByClassName("btncerrar")[0];



//Desplegar el modal (nos sirve para desplegar la funcionalidad)
boton.onclick = function (){
    modal.style.display = "block";
}


//Cerrar el modal
btclose.onclick = function () {
    modal.style.display = "none";
}


//Cerrar por fuera del modal
//window es una funcion en js que almacena varias properties
window.onclick = function (event) {
	// target es un metodo de js que te permite targuetear el evento
	// analiza si el usuario
	if (event.target == modal){
		modal.style.display = "none";
	}
	
}

// Invocar el boton enviar y listo nada mas 
const enviar = document.getElementById ("btnenviar");
enviar.addEventListener("click",validarinput);

function validarinput(event) {
	event.preventDefault (); // PARA VALIDAR INPUT IMPORTANTE PREVENIR EL COMPORTAMIENTO POR DEFECTO
	var primerinput = document.getElementById("input");
	let valido = true;

// el simbolo de exlamacion un valor condicinal de negacion
	if (!primerinput.value) {

		const error = document.getElementById("inputerror");
		error.classList.add("visible"); 

		primerinput.classList.add("invalido");

	}
	
	let text;
	if (isNaN(primerinput) || primerinput < 1 || primerinput > 10){
		text = "Input not valid";
	} else {
    text = "Input OK";

	}
	
	document.getElementById("demo").innerHTML=text;

	return valido;
}

</script>



</Layout>

<!--para el martes darle funcionabilidad al componente alert modal-->